#login {
  width: 100%;
  background-color: rgb(14,19,22);
}
#main-div {
  height: 100vh;
}
#row-buttons {
  padding-top: 50px;
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#logo-login {
  padding-top: 30px;
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#form-login {
  padding-bottom: 50px;
  position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
input.ng-invalid.ng-touched {
  border-left: 5px solid red;
}
input.ng-valid.ng-touched {
  border-left: 5px solid green;
}
.help-block {
  color: red;
}

@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 50px;}

  100% {
    opacity: 1;
  }
}

