<app-header></app-header>

<div class="container-fluid p-0">

  <div class="row no-gutters">
    <div class="col-12" id="parallax"></div>

    <div class="col-12" id="cover-photo">

      <div class="row no-gutters h-100">
        <div class="d-none d-md-block col-md-1"></div>

        <div class="col-12 col-md-2 my-auto text-center">
          <img src="../../assets/photo/aekifisias-logo.png" alt="">
        </div>

        <div class="col-12 col-md-4">
          <div class="row no-gutters h-100">
            <div class="col-12 my-auto">
            </div>
            <div class="col-12 text-center text-lg-left my-auto">
              <h1 class="m-0">AE Kifisias</h1>
            </div>
          </div>
        </div>

        <div class="col-5"></div>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid p-0 border-top">

  <div class="row no-gutters">
    <div class="col-12" id="menu-team">
      <nav class="navbar navbar-expand navbar-light">
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item active px-3">
                <a class="nav-link">Team</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" >Staff</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">Players</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">Games</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
