<div class="container-fluid p-5" id="about">
  <div class="row no-gutters h-100">
    <div class="col-sm-12 col-md-12 col-lg-6 my-auto text-center pb-3">
      <h1 class="text-white text-bold font-weight-bold">About Our Company</h1>
      <br>
      <h2 class="text-white text-bold mx-5">Many amateur football teams trust us. Our Goal is to help amateur teams to grow through technology and store all their games in one place.</h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 my-auto text-center px-3">
      <img src="../../../assets/photo/epts.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>
